/* ===== Scrollbar CSS ===== */

*::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: #d8e3ec;
    border-radius: 10px;
  }
 /* *::-webkit-scrollbar-track-piece{
    background: #96d9d6;
 } */
  *::-webkit-scrollbar-thumb {
    background-color: #582965;
    border-radius: 10px;
    border: 3px solid #ea7373;
  }